.img {
    display: block;
}

.img--logo {
    width: 9.5rem;
    height: 2.5rem;
    color: rgba(229, 9, 20, 1);
}

.img--hero {
    width: 256px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 13px 5px rgba(0, 0, 0, 0.75);
}